p{
	color: red;
	font-size: 1.2em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
	font-family: sans-serif;
	text-align: center;
	background-color: #99c2ff;
}
h2{ 
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	background-color: #6600cc;
}
h3{
	font-family: Verdana;
	color: #B5B5B5;
	text-align: center;
	background-color: #ff3030;
}
h4{
	font-family: 'Times New Roman', Times, serif;
	color: silver;
	text-align: center;
	background-color: midnightblue;
}
footer{
	color: black;
	font-size: 0.50em;
	text-align:center;
	font-family: 'Courier New', Courier, monospace;
}
