@charset "utf-8";

* {
    margin: 5px;
    padding: 10px;
    border: 5px;
    top: 2px;
}

body {
    background-image: url(https://wallpaperaccess.com/full/1627619.jpg);
    background-size: cover;
    color: #555555;
    font-family: 15px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, inherit ;
    line-height: 1.6em;
    margin: 5px;
    padding: 10px;
    border: 5px;
}

a {
    text-decoration: none;
    color: black;
}
.titulo{
    background-color: #000;
    color: #fff;
    border-right: 5px rgb(190, 19, 19) ridge;
    border-left: 5px rgb(190, 19, 19) ridge;
    border-top: 5px rgb(190, 19, 19) ridge;
    border-bottom: 5px rgb(190, 19, 19) ridge;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: ridge;
    padding: 2px;
    text-align: center;
}
.container {
    width: 98%;
    margin: 2px 3px;
}

div{
    background-color: #000;
    color: #fff;
    border-right: 15px rgb(190, 19, 19) ridge;
    border-left: 15px rgb(190, 19, 19) ridge;
    border-top: 15px rgb(190, 19, 19) ridge;
    border-bottom: 15px rgb(190, 19, 19) ridge;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: ridge;
    padding: 20px;
    text-align: center;
    
}
.btn {
    background: rgb(32, 31, 31);
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 5em;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 crimson,
                0 0 10px 0 crimson,
                0 0 10px 0 crimson inset;
    
}