@charset "utf-8";

* {
    margin: 5px;
    padding: 10px;
    border: 5px navy;
    top: 2px;
}

body {
    background-color: antiquewhite;
    color: #555555;
    font-family: 15px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, inherit ;
    line-height: 1.6em;
    margin: 5px;
    padding: 10px;
    border: 5px navy;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 80%;
    margin: 20px 30px;
}

.box-1 {
    background-color: #333;
    color: #fff;
    border-right: 5px rgb(190, 19, 19) solid;
    border-left: 5px rgb(190, 19, 19);
    border-top: 5px rgb(190, 19, 19);
    border-bottom: 5px rgb(190, 19, 19);
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    padding: 20px;
}