@charset "utf-8";

body{
    background-color: antiquewhite;
    color:black;
}

main h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-style: oblique;
    color: rgb(0, 0, 0);
}

main{
    color:black;
    padding: 0px;
}
.col1 {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.col2{
    float: left;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    
}
.col3{
    float:right;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: -0.5cm;
    margin-bottom: 1cm;
}
.col4{
    float:left;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: -0.9cm;
}
.lista{
    background: #fff;
    color: #555;
    list-style-type: none;
    border: 1px solid #555;
    margin: 0;
    padding: 0;
}
.lista .header{
    background-color: #111;
    color: #fff;
    font-size: 25px;
}
.lista li{
    padding: 20px;
    border-bottom: 20px solid #eee;
    text-align: center;
}

@media(max-width:768px) {
    .col1 {
    width: 100%;
    }
    .col2{
        width: 100%;
    }
    .col3{
        width: 100%;
    }
    .col4{
        width: 100%;
    }
   }
