@charset "utf-8";

body{
    background-color: rgb(237, 237, 245);
    color: rgb(34, 51, 51);
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
.container {
    display: flex;
}

.container div {
    border: 1px #ccc solid;
    padding: 10px;
}

.item-box-1 {
    flex: 3;
    order: 2;
}

.item-box-2 {
    flex: 2;
    order: 1;
}

.item-box-3 {
    flex: 1;
    order: 3;
}

.item-box-4 {
    flex: 3;
    order: 3;
}