@charset "utf-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
}
.esqueci1{
    color: blueviolet;
}
.esqueci2{
    color: blue;
}
p#sobrenome{
    color: aqua;
}
